@media (max-width:575px) {
    .col-xs-1{width: 8.3333%;}
    .col-xs-2{width: 16.6666%;}
    .col-xs-3{width: 25%;}
    .col-xs-4{width: 33.3333%;}
    .col-xs-5{width: 41.6666%;}
    .col-xs-6{width: 50%;}
    .col-xs-7{width: 58.3333%;}
    .col-xs-8{width: 66.6666%;}
    .col-xs-9{width: 75%;}
    .col-xs-10{width: 83.3333%;}
    .col-xs-11{width: 91.6666%;}
    .col-xs-12{width: 100%;}
}
@media (min-width:576px) and (max-width:767px) {
    .col-sm-1{width: 8.3333%;}
    .col-sm-2{width: 16.6666%;}
    .col-sm-3{width: 25%;}
    .col-sm-4{width: 33.3333%;}
    .col-sm-5{width: 41.6666%;}
    .col-sm-6{width: 50%;}
    .col-sm-7{width: 58.3333%;}
    .col-sm-8{width: 66.6666%;}
    .col-sm-9{width: 75%;}
    .col-sm-10{width: 83.3333%;}
    .col-sm-11{width: 91.6666%;}
    .col-sm-12{width: 100%;}
}
@media (min-width:768px) and (max-width:991px) {
    .col-md-1{width: 8.3333%;}
    .col-md-2{width: 16.6666%;}
    .col-md-3{width: 25%;}
    .col-md-4{width: 33.3333%;}
    .col-md-5{width: 41.6666%;}
    .col-md-6{width: 50%;}
    .col-md-7{width: 58.3333%;}
    .col-md-8{width: 66.6666%;}
    .col-md-9{width: 75%;}
    .col-md-10{width: 83.3333%;}
    .col-md-11{width: 91.6666%;}
    .col-md-12{width: 100%;}
}
@media (min-width:992px) and (max-width:1199px) {
    .col-lg-1{width: 8.3333%;}
    .col-lg-2{width: 16.6666%;}
    .col-lg-3{width: 25%;}
    .col-lg-4{width: 33.3333%;}
    .col-lg-5{width: 41.6666%;}
    .col-lg-6{width: 50%;}
    .col-lg-7{width: 58.3333%;}
    .col-lg-8{width: 66.6666%;}
    .col-lg-9{width: 75%;}
    .col-lg-10{width: 83.3333%;}
    .col-lg-11{width: 91.6666%;}
    .col-lg-12{width: 100%;}
}
@media (min-width:1200px) {
    .col-xl-1{width: 8.3333%;}
    .col-xl-2{width: 16.6666%;}
    .col-xl-3{width: 25%;}
    .col-xl-4{width: 33.3333%;}
    .col-xl-5{width: 41.6666%;}
    .col-xl-6{width: 50%;}
    .col-xl-7{width: 58.3333%;}
    .col-xl-8{width: 66.6666%;}
    .col-xl-9{width: 75%;}
    .col-xl-10{width: 83.3333%;}
    .col-xl-11{width: 91.6666%;}
    .col-xl-12{width: 100%;}
}
@media (max-width:775px){
    .toggle
    {
        display: block;
    }
    /* .nav
    {
        display: none;
    } */
    header
    {
        padding: 15px;
    }
    .co6 .icbox{
        left: 48%;
    }
    .appointment .row{
        display: block;
    }
    .a1,.a2,.a3{
        height: 900px;
    }
    .nav ol 
    {
        position: fixed;
        width: 15%;
        text-align: center;
        display: block;
        height: auto;
        background-color: bisque;
        top:-100%;
        right:7%;
        transition: all 0.5s;
        flex-direction: column;
    }
    .show nav ol
    {
        position: fixed;
        right:100%;
        width: 100%;
        height: 100%;
        z-index: 99;
        top: 0;
        background-color: black;
    }
    .sec1{
        padding-top:50px;
    }
    ul
    .show1 nav ul{
        
        position: fixed;
        left:0px;
        width: 100%;
        height: 100%;
        z-index: 100;
        top: 0;
        background-color: black;

    }
    .nav ol li a 
    {
        padding: 10px;
    }
    .show .nav ol 
    {
        /* right:7%; */
        top: 12%;
    }
    .s1bg{
        background-size: cover !important;
        width: 100%;
    }
    .call,.email,.location{
        text-align: center;
        display: block;
    }
    .co2 p{
        padding-top: 20px;
        font-family: 'Montserrat', sans-serif;
        color: rgba(128, 128, 128,0.8);
        line-height: 1.5;
        font-size: 30px;
    }
    .co3 p{
        color: rgba(128, 128, 128,1);
        text-align:center;   
        padding: 20px;
        font-size: 28px;
        line-height: 1.5;
    }
    .co3 h4{
        color: white;
        text-align: center;
        font-size:32px;
        padding-top: 20px;
    }
    .co4 h5{
        font-size: 32px;
        text-align: center;
        text-transform: capitalize;
        padding-top:50px;
        /* padding-bottom:20px; */
    }
    .co4 h6{
        font-size: 21px;
        font-weight: 300;
        padding:30px 60px;
        text-align:center;
        line-height: 2;
        padding-bottom:50px;
    }
    .himg{
        background-image: url(../images/half_image.jpg);
        padding: 100%;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .co5{
        background-color: rgba(128, 128, 128,0.1);
        z-index: -1;
        padding: 0 100px ;
    }
}